service vendor.move_data_sh move_widevine_data.sh_HALIUM_DISABLED
    disabled
    override

service vendor.drm-widevine-hal-1-1 android.hardware.drm@1.1-service.widevine_HALIUM_DISABLED
    disabled
    override
