[Unit]
Description=Enable double tap to wake
Requires=lxc@android.service
Before=phosh.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "echo 1 > /proc/touchpanel/double_tap_enable"

[Install]
WantedBy=graphical.target
