Source: adaptation-droidian-oneplus3
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper, inotify-tools, libwayland-dev, libxkbcommon-dev, libpulse-dev, libpulse-mainloop-glib0, libnotify-dev
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-oneplus3
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-oneplus3.git

Package: adaptation-droidian-oneplus3
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-oneplus3-configs,
         linux-bootimage-oneplus-oneplus3,
         droidian-quirks-full-resize,
         droidian-camera,
         inotify-tools,
         libwayland-dev,
         libxkbcommon-dev,
         libpulse-dev,
         libpulse-mainloop-glib0,
         libnotify-dev,
Description: adapatation-oneplus3-meta
 oneplus3 api28 adaptation metapackage

Package: adaptation-oneplus3-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: oneplus3's adaptation configs
