#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-oneplus3-configs --name=dashd dashd.service --no-start
	dh_installsystemd -padaptation-oneplus3-configs --name=double-tap double-tap.service --no-start
	dh_installsystemd -padaptation-oneplus3-configs --name=batman batman.service --no-start
	dh_installsystemd -padaptation-oneplus3-configs --name=keyboard-layout keyboard-layout.service --no-start
